/* Modified Google Icons styles */
.material-icons.md-dark { color: rgba(0, 0, 0, 1); }
.material-icons.teal { color: rgba(23, 165, 186, 1); }

:root {
    --color-primary: rgb(23, 165, 186);
    --color-secondary: rgb(251, 179, 59);
    --color-error: rgb(235, 65, 13);
    --color-success: rgb(18, 210, 164);
}

body {
    margin: 0;
}

h1, p {
    color: black;
}

#dashboard-grid {
    display: grid;
    grid-template-columns: 10% minmax(0, 1fr) 10%;
    margin-bottom: 10%;
}

#overlay-grid {
	display: grid;
	position: fixed;
	grid-template-columns: 100vw;
	grid-template-rows: 90vh 10vh;
	height: 100vh;
	width: 100vw;
	z-index: 100;
    grid-template-areas: "_"
                         "toastbox";
    pointer-events: none; 
    touch-action: none;
}

#dashboard-toasts {
    grid-area: toastbox;
    z-index: 99;
}

.toast {
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition: 200ms all ease-in-out;
    transform: translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Admin user list */
.toast-slideup {
    transform: translateY(0);
}

.toast-info {
    background-color: var(--color-primary);
}

.toast-warning {
    background-color: var(--color-secondary);
}

.toast-error {
    background-color: var(--color-error);
}

.toast-success {
    background-color: var(--color-success);
}

#user-list-panel {
    margin-top: 10%;
    margin-bottom: 5%;
    grid-column: 2 / span 1;
}

#user-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 5%;
}

#user-list-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 10%;
    align-items: center;
    gap: 1rem;
    padding: 5%;
    border-radius: 1.5rem;
    background-color: white;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
}

.user-item-name-pic {
    display: grid;
    grid-template-columns: minmax(3rem, 4rem) minmax(0, 1fr);
    align-items: center;
    gap: 0.5rem;
}

.admin-name {
    font-size: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgba(0, 0, 0, 0.5);
}

.admin-name:focus {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.profile-picture {
    min-width: 3rem;
    width: 15%;
    height: auto;
    border-radius: 50%;
}

.edit-button-group button {
    color: black;
    margin: 0;
}


#user-details {
    grid-column: 2 / span 1;
    margin-top: 10vh;
}


/* Admin form */

#add-admin-form {
    color: black;
    background-color: white;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
    border-radius: 1.5rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    gap: 1rem;

    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;

    overflow-y: auto;
}
#add-admin-form h2 {
    margin: 0;
    font-size: 1.8rem;
}
#add-admin-form > input {
    width: 100%;
    grid-column: 1 / span 1;
    border-style: none;

    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
    border-bottom: 2px solid #c4c4c4;
}

.button-group {
    display: flex;
    flex-direction: column-reverse;
}

#add-admin-form img {
    width: 6rem;
}

.form-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



/* Upload image style */
.upload-image-container {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.upload-image-container .profile-picture {
    padding: 0;
    margin: 1.2rem;
}
.upload-button-group {
    display: flex;
    flex-direction: column;
    font: inherit;
}
.upload-button-group > label {
    font-weight: 700;
}

/*************** Media queries *******************/

/* For medium screens */
@media only screen and (min-width: 768px) {
    #user-list {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    #user-list-header {
        flex-direction: row;
    }

    .user-item-name-pic {
        gap: 5%;
    }
    .user-item-name {
        font-size: 1.4em;
    }

    /* Admin form */
    .button-group {
        flex-direction: row;
        height: 6rem;
        gap: 3rem;
    }

    #add-admin-form h2 {
        margin-top: 1rem;
        font-size: 2.4rem;
    }
}

/* For larger screens */
@media only screen and (min-width: 1200px) {
    .user-item-name-pic {
        gap: 3%;
    }
    .profile-picture {
        max-width: 10%;
    }
    
}