:root {
    --color-unfocused: rgba(0,0,0,0.5);
}


h1 {
    text-align: center;
}

#dashboard-grid {
    display: grid;
    grid-template-columns: 10vw minmax(0, 1fr) 10vw;
    margin-bottom: 20vh;
}

#overlay-grid {
	display: grid;
	position: fixed;
    top: 0;
	grid-template-columns: 100vw;
	grid-template-rows: 90vh 10vh;
	height: 100vh;
	width: 100vw;
	z-index: 100;
    grid-template-areas: "_"
                         "toastbox";
    pointer-events: none; 
    touch-action: none;
}

#dashboard-toasts {
    grid-area: toastbox;
    z-index: 99;
}

.toast {
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition: 200ms all ease-in-out;
    transform: translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
}

/* Admin user list */
.toast-slideup {
    transform: translateY(0);
}

.toast-info {
    background-color: var(--color-teal);
}

.toast-warning {
    background-color: var(--color-yellow);
}

.toast-error {
    background-color: var(--color-error);
}

.toast-success {
    background-color: var(--color-success);
}

#user-list-panel {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    grid-column: 2 / span 1;
}

#user-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--p-sm);
}

#user-list-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3rem;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-rad-sm);
    background-color: var(--bg-light);
    filter: var(--shadow-light);
}

.user-item-name-pic {
    display: grid;
    grid-template-columns: minmax(3rem, 4rem) minmax(0, 1fr);
    align-items: center;
    gap: 0.5rem;
}

.admin-name {
    font-size: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    color: var(--color-unfocused);
}

.admin-name:focus {
    font-weight: var(--ff-bold);
    color: var(--text-dark);
}


.edit-button-group button {
    width: 100%;
}


#user-details {
    grid-column: 2 / span 1;
    margin-top: 10vh;
}


.user-item .profile-picture {
    clip-path: circle(50% at 50% 50%);
    min-width: 2.5rem;
    width: 3.5rem;
    height: auto;
}



/*************** Media queries *******************/

/* For medium screens */
@media only screen and (min-width: 768px) {
    #dashboard-grid {
        gap: var(--p-med);
    }
    #user-list {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: var(--p-med);
    }

    #user-list-header {
        flex-direction: row;
    }

    .user-item-name-pic {
        gap: 0.5rem;
    }
}

/* For larger screens */
@media only screen and (min-width: 1200px) {
    #dashboard-grid {
        grid-template-columns: 15% minmax(0, 1fr) 15%;
        gap: var(--p-lg);
    }
}