a, a:visited{
    /* text-decoration: none; */
    color: #17A5BA;
}

#Base-Container{
    filter: drop-shadow(0.3em 0.3em 0.5em rgba(0, 0, 0, 0.15));
    background-color: white;
    border-radius: 3em;
    margin-bottom: 1em;
}

#Article-Container{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}

.Article-Continer-Content{
    text-align: start;
    font-size: 25px;
    margin: 1.5em;
}

#Back-Link-Container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#Link{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr;
    place-self: center;
    text-decoration: none;
}

#Back-Link{
    color: #000000;
    justify-self: end;
    margin-right: 0.15em;
}

.material-symbols-outlined{
    grid-column: 2 / span 1;
    color: #000000; 
    font-size: 2em !important;
    align-self: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}

#Link:hover > #Back-Link{
    color: #17A5BA;
}
#Link:hover > .material-symbols-outlined{
    color: #17A5BA;
}


@media only screen and (max-width: 768px) {
    #Base-Container{
        width: 340px;
    }
    #Article-Continer-Content{
        text-align: center;
        font-size: 20px;
        margin: 1em;
    }
}

@media only screen and (min-width: 768px) {
    #Base-Container{
        width: 760px;
    }
    #Article-Continer-Content{
        text-align: center;
        font-size: 22px;
        margin: 1.5em;
    }
}

@media only screen and (min-width: 1200px) {
    #Base-Container{
        width: 1000px;
    }
    #Article-Continer-Content{
        text-align: center;
        font-size: 25px;
        margin: 2em;
    }
}