body{
    display: grid;
    place-self: center;
}

a, a:visited{
    color: var(--color-teal);
}

#Base-Container{
    width: 80vw;
    filter: var(--shadow-dark);
    background-color: var(--bg-light);
    border-radius: var(--border-rad-sm);
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#Article-Container{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    grid-column: 1 / span 1;
}

.Article-Continer-Content{
    text-align: start;
    margin: 1.5em;
}

#Back-Link-Container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#Link{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr;
    place-self: center;
    text-decoration: none;
}

#Back-Link{
    color: var(--text-dark); 
    justify-self: end;
    margin-right: 0.15em;
}

.material-symbols-outlined{
    grid-column: 2 / span 1;
    color: var(--text-dark); 
    font-size: 2em !important;
    align-self: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}

#Link:hover > #Back-Link{
    color: var(--color-teal);
}
#Link:hover > .material-symbols-outlined{
    color: var(--color-teal);
}


@media only screen and (min-width: 768px) {
    #Base-Container{
        width: 60vw;
    }
    .Article-Continer-Content{
        margin: 1.5em;
    }
}

@media only screen and (min-width: 1200px) {
    .Article-Continer-Content{
        margin: 2em;
    }
}