.material-symbols-outlined {
    vertical-align: bottom;
    font-size: 1.8rem !important;
}

button, input[type=submit] {
    font-weight: var(--ff-bold);
}

/* Universal button styles */
.button {
    height: auto;
    width: auto;
    padding: var(--btn-padding-sm);
    border: none;
    border-radius: var(--border-rad-sm);
    outline: none;
    font: inherit;
    font-weight: var(--ff-bold);
    color: var(--text-dark);
    margin-top: 1em;
    transition: var(--transition);
    place-self: center;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    filter: var(--shadow-light);

}

.button-primary {
    background-color: var(--color-yellow);
}

.button-primary:hover, 
.button-primary:active, 
.button-primary:focus {
    background-color: var(--color-yellow-hover);
}


.button-primary-teal {
    color: var(--text-light);
    background-color: var(--color-teal);
}

.button-primary-teal:hover, 
.button-primary-teal:active, 
.button-primary-teal:focus {
    background-color: var(--color-teal-hover);
}


.button-secondary {
    border: 2px solid var(--color-yellow);
    background-color: var(--bg-light);
}

.button-secondary:hover, 
.button-secondary:active, 
.button-secondary:focus {
    border-color: var(--color-yellow-hover);
    background-color: var(--color-yellow-hover);
}


.button-secondary-teal {
    border: 2px solid var(--color-teal);
    background-color: var(--bg-light);
    color: var(--text-dark);
}

.button-secondary-teal:hover,
.button-secondary-teal:active,
.button-secondary-teal:focus {
    background-color: var(--color-teal-hover);
}


.button-nav {
    margin: 0;
    padding: 0.8em 0.8em 0.6em 0.8em;
    background-color: transparent;
}

.button-nav:hover,
.button-nav:active,
.button-nav:focus,
.button-nav:visited {
    background-color: rgba(255, 255, 255, 0.2);
}

a.button {
    text-decoration: none;
    transition: var(--transition);
    color: var(--text-dark);
}

a.button:hover,
a.button:active,
a.button:focus,
a.button:visited {
    color: var(--text-dark);
}


.block {
    display: block;
}

.small {
    width: auto;
    height: auto;
    font-size: var(--p-sm);
    padding: var(--btn-padding-xs) !important;
}

.transparent {
    background-color: transparent;
    border-color: transparent;
}


/********************* Media queries  *************************/
@media only screen and (min-width: 768px) {
    .button {
        padding: var(--btn-padding-med);
        border-radius: var(--border-rad-med);
    }
}
@media only screen and (min-width: 1200px) {
    .button {
        padding: var(--btn-padding-lg);
        border-radius: var(--border-rad-lg);
    }
}