.material-icons {
    vertical-align: -10%;
}

/* Universal button styles */
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    outline: none;
    font: inherit;
    font-weight: 700;
    font-size: 1.2em;
    color: inherit;
    margin-top: 1em;
    transition: background-color 0.1s ease-in;
}

.button:hover,
.button:active,
.button:focus {
    filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.1));

}

.button-primary {
    background-color: #FBB33B;
    filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.1));
}

.button-primary:hover, 
.button-primary:active, 
.button-primary:focus {
    background-color: #E99812;
}

.button-secondary {
    border: 2px solid #FBB33B;
    background-color: transparent;
}

.button-secondary:hover, 
.button-secondary:active, 
.button-secondary:focus {
    background-color: #FBB33B;
}

.button-secondary-grey {
    border: 2px solid rgba(196, 196, 196, 1);
    background-color: transparent;
    color: rgba(196, 196, 196, 1);
}

.button-secondary-grey:hover,
.button-secondary-grey:active,
.button-secondary-grey:focus {
    background-color: rgba(196, 196, 196, 0.25);
}

.button-secondary-teal {
    border: 2px solid rgba(23, 165, 186, 1);
    background-color: transparent;
    color: rgba(23, 165, 186, 1);
}

.button-secondary-teal:hover,
.button-secondary-teal:active,
.button-secondary-teal:focus {
    background-color: rgba(23, 165, 186, 0.25);
}


.button-nav {
    margin: 0;
    padding: 0.8em 0.8em 0.6em 0.8em;
    background-color: transparent;
}

.button-nav:hover,
.button-nav:active,
.button-nav:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

a.button {
    text-decoration: none;
}

.block {
    display: block;
}

.small {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    max-height: 4em;
    width: auto;
    height: auto;
    font-size: 1em;
}

.transparent {
    background-color: transparent;
    border-color: transparent;
}