.Card-Container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 450px;
    width: 85%;
    font-size: 12px;
    margin-bottom: 14em;
    filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.1));
}

#Card-Image{
    align-self: end;
    width: 100%;
}

#Card-Container-Descriptor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    background-color: #d9f3f7;
    padding: 2em;
    height: 80%;
}

#Description-Author{
    align-self: end;
}
@media only screen and (max-width: 768px) {
    .Card-Container{
        margin-bottom: 5em;
    }
}

@media only screen and (min-width: 768px) {
    .Card-Container{
        height: 27em;
        width: 90%;
        font-size: 15px;
        margin-bottom: 14em;
    }
}

@media only screen and (min-width: 1200px) {
    .Card-Container{
        height: 29em;
        width: 100%;
        font-size: 13px;
        margin-bottom: 14em;
    }
}