h1 {
    place-self: center;    
}

.Component{
    display: grid;
    place-items: center;
    margin-bottom: 1em;
}

.Card-Container{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 85%;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 14px;
    filter: drop-shadow(0.3em 0.3em 0.5em rgba(0, 0, 0, 0.15));
}

#Card-Image{
    align-self: end;
    object-fit: cover;
    height: 19em;
    width: 100%;
    border-radius: 3em 3em 0px 0px;
    grid-row: 1 / span 1;
}

#Card-Container-Descriptor{
    display: grid;
    color: black;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .25fr;
    padding: 2em;
    height: 80%;
    border-radius: 0px 0px 3em 3em;
    background-color: #ffffff;
    transition: background-color .25s, color .25s;
    transition-timing-function: ease-in-out;
    grid-row: 2 / span 1;
}

.Card-Container:hover > #Card-Container-Descriptor {
    background-color: #17A5BA;
    color: #ffffff;
}

#Description-Author{
    align-self: end;
}
@media only screen and (max-width: 360px) {
    .Card-Container{
        margin-bottom: auto;
    }
}

@media only screen and (min-width: 450px) {
    .Card-Container{
        width: 90%;
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .Card-Container{
        width: 100%;
        font-size: 15px;
    }
}