.popup-form{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
}

.popup-form h2 {
    margin-top: 0;
    text-align: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.popup-form input {
    width: 100%;
    min-height: 1rem;
    max-height: 2rem;
    grid-column: 1 / span 1;
    border-style: none;

    padding: 0.2rem;
    border-bottom: 2px solid var(--color-grey);
}

.popup-form input[type=file] {
    border: none;
    height: auto;
}

.popup-form .button-group {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}

/* This is a generic Google Material icon */
.popup-form .generic-image-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(50%);
    background-color: var(--color-grey);
    width: 6rem;
    height: 6rem;
}

.popup-form .generic-image-icon span {
    font-size: 3rem !important;
    color: white;
}

/* This is the default profile image */
.popup-form .profile-picture {
    clip-path: circle(50% at 50% 50%);
    width: 6rem;
}


.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



/* Styles for the container that holds the Upload image 
    from the placeholder image to the buttons */
.upload-image-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.upload-image-group {
    position: relative;
}

/****** Changing the default "browse" file upload button ******/
.upload-button-group {
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 3rem;
    height: 3rem;
}
.default-upload-button {
    display: none;
    width: 100%;
    height: 100%;
}
.custom-upload-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-rad-sm);
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-size: 2rem;
    vertical-align: middle;
    filter: var(--shadow-light);
    transition: var(--transition);
}
.custom-upload-button:hover,
.custom-upload-button:active,
.custom-upload-button:focus {
    background-color: var(--color-light-hover);
}

.active-input {
    font-weight: 700 !important;
    background-color: rgba(251, 179, 59, 0.2);
    transition: var(--transition);
}
.inactive-input {
    font-weight: 400 !important;
    background-color: var(--bg-light);
    transition: var(--transition);
}

/* This positions the form's content and adds background, etc. */
.form-content-wrapper {
    background-color: var(--bg-light);
    filter: var(--shadow-light);
    border-radius: var(--border-rad-sm);

    padding: 2rem;
    max-width: 70vw;
    max-height: 80vh;
    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    align-items: baseline;
    gap: 1rem;
}

@media only screen and (min-width: 768px) {
    .popup-form h2 {
        margin-top: 1rem;
    }

    .popup-form .button-group {
        flex-direction: row;
        gap: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .popup-form input {
        width: 100%;
    }

}