@font-face {
    font-family: "Levity";
    src: url("/fonts/levity.woff2") format("woff2"),
         url("/fonts/levity.ttf") format("truetype");
}

body {
    color: white;
	background: url("../images/easteregg/geocities_background.jpg");
}

* {
    font-family: 'Levity', 'Satoshi', sans-serif !important;
}