/* Page contents */
#grid-container-main {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
}

#hero-container {
    grid-row: 2 / span 1;
    width: 100vw;
    height: auto;
}

.heading-emphasis {
    font-family: var(--ff-emphasis)
}

#hero-message {
    min-height: 10vh;
    padding: 20% 10% 15% 10%;
    color: white;

    background-image:
        /* color overlay */
        linear-gradient(
            rgba(255, 255, 255, 0.2), 30%,
            rgba(23, 165, 186, 0.8)
        ),
        url("../images/ali-kazal-jwyFn9kxQuc-unsplash-blue-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    border-bottom-left-radius: var(--border-rad-sm);
    border-bottom-right-radius: var(--border-rad-sm);
}


/* Keep the two words together in the "Big One" */
#hero-message h1 span {
    white-space: nowrap;
}

#hero-message-paragraph {
    font-size: var(--h3-sm);
    margin-top: 0.5em;
}

#hero-button-start {
    margin-top: -8%;
    margin-left: 12%;
    margin-right: 12%;
    display: inline-block;
}
#hero-button-start span {
    font-size: 1.3rem !important;
}

#section-container {
    padding: 5% 12% 12% 12%;
    grid-row: 3 / span 1;
}

#section-heading {
    font-size: var(--h3-sm);
}

#section-container .button-group {
    width: 100%;
}

/* For medium screens */
@media only screen and (min-width: 768px) {
    #hero-message {
        padding: 20% 10% 15% 10%;
        border-bottom-left-radius: var(--border-rad-med);
        border-bottom-right-radius: var(--border-rad-med);
    }

    #hero-message-paragraph {
        font-size: var(--h3-med);
    }

    #section-button-resources-checklist,
    #section-button-resources {
        width: 30vw;
    }
    
    #section-heading {
        font-size: var(--h3-med);
    }
}

/* For larger screens */
@media only screen and (min-width: 1200px) {
    #hero-message {
        border-bottom-left-radius: var(--border-rad-lg);
        border-bottom-right-radius: var(--border-rad-lg);
    }
    #hero-message-paragraph {
        font-size: var(--h3-lg);
    }

    #section-heading3 {
        font-size: var(--h3-lg);
    }
}