body {
    margin: 0;
    padding: 0;
}

/* Page contents */
#grid-container-main {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
}

#hero-container {
    grid-row: 2 / span 1;
    width: 100vw;
    height: auto;
}

.heading-emphasis {
    font-family: 'Sharpie', 'Brush Script Std', 'Arial Black', sans-serif;
}

#hero-message {
    min-height: 10vh;
    padding: 20% 10% 15% 10%;
    color: white;

    background-image:
        /* color overlay */
        linear-gradient(
            rgba(255, 255, 255, 0.2), 30%,
            rgba(23, 165, 186, 0.8)
        ),
        url("../images/ali-kazal-jwyFn9kxQuc-unsplash-blue-gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

#hero-message h1 {
    font-size: 2.2em;
}

/* Keep the two words together in the "Big One" */
#hero-message h1 span {
    white-space: nowrap;
}

#hero-message-paragraph {
    font-size: 1.4em;
    margin-top: 0.5em;
}

#hero-button-start {
    margin-top: -8%;
    margin-left: 12%;
    margin-right: 12%;
    display: inline-block;
}

#section-container {
    padding: 5% 12% 12% 12%;
    grid-row: 3 / span 1;
}

#section-heading2 {
    font-size: 1.3em;
}


/* For medium screens */
@media only screen and (min-width: 768px) {

    #hero-message h1 {
        font-size: 3.8rem;
    }
    #hero-message {
        padding: 20% 10% 15% 10%;
    }

    #hero-message-paragraph {
        font-size: 1.6em;
    }

    #section-button-resources-checklist,
    #section-button-resources {
        width: 30vw;
    }

}

/* For larger screens */
@media only screen and (min-width: 1200px) {
    #hero-message-paragraph {
        font-size: 2em;
    }
}