#Grid-Container-Form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    place-items: center;
}

@media only screen and (max-width: 768px) {
    #Base-Container{
        width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    #Base-Container{
        width: 767px;
    }
}