body{
    background-color: #FBB33B;
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    color: #FFFFFF
}

#Base-Container{
    justify-items: center;
    padding-top: 10vh;
    margin: 10vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    font-size: 4vw;
}

#Continue-Link{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.Arrow-CSS{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    place-self: center;
}

.material-symbols-outlined {
  font-size: 10vw !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#Base-Container-Continue-Link{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
}