#Grid-Container-Form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    place-items: center;
    width: 400px;
}

#Grid-Container-Form-Name-Input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

#First-Name-Input{
    width: 112px;
    grid-column: 1 / span 1;
}

#Last-Name-Input{
    justify-self: right;
    width: 112px;
}

@media only screen and (min-width: 768px) {
    #Grid-Container-Form{
        width: 768px;
    }
}

@media only screen and (min-width: 1200px) {
    #Grid-Container-Form{
        width: 1000px;
    }
} 