@import url('https://api.fontshare.com/css?f[]=satoshi@400,401,700,701&display=swap'); 
@import url('https://api.fontshare.com/css?f[]=sharpie@400,700&display=swap');

body {
    display: grid;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'Satoshi', sans-serif;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}

.ShakeGuard-Logo{
    margin-top: 35px;
    width: 200px;
    height: auto;
}

#Base-Container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#Base-Container-Image{
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: 
        linear-gradient(rgba(23,165,186,0.8),rgba(23,165,186,0.8)),
        url(../images/mountain1.jpg);
    /* Apply Filter here */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#Form-Container{
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(179, 179, 179);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.Grid-Container-Form-Input{
    background-color: #FFFFFF;
    text-indent: 15px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    border: none;  
    width: 250px;
    height:40px;
    border-radius: 25px;
}

.Form-Item{
    margin-left: 10px;
}

.Bottom-Text{
    color: #FFFFFF;
    font-size: 20px;
}

#Sign-up-Link{
    color: #FFFFFF;
    margin-top: -15px;
    margin-bottom: 50px;
}

#Button-Login{
    border: none;    
    border-radius: 25px;
    background-color: #FBB33B;
    width: 100px;
    font-weight: 600;
    font-family: 'Satoshi', sans-serif;
    height: 40px;
    margin: 10px;
}

#Button-Login:hover{
    background-color: #ffbd4a;
}

#Footer-Links {
    display: flex;
}

#Footer-Copyright {
    place-self: center;
    margin-right: 1em;
}

#Footer-Logo {
    width: 3em;
}

.error {
	color: red;
    font-size: 15px;
}
.hidden {
    display: none;
}

#Title-h1{
    place-self: center;
    font-size: 40px;
}