* {
    font-family: 'Satoshi', sans-serif;
}

body{
    /* width: 100vw; */
    margin: 0;
    padding: 0;
}

#Base-Container{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 80vw;
    background-color: #FDF1BD;
    place-items: center;
    place-self: center;
    justify-content: stretch;
    border-radius: 25px;
    margin-top: 50px;
    text-align: center;
    min-width: 300px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#Base-Container-ProfilePicture-Container{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#Base-Container-ProfilePicture{
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 55px;
    background-color: #FFFFFF;
    padding: 15px;
    margin-top: -45px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#Base-Container-FullName-Container{
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-left: 1em;
}

#Base-Container-Upload-Avatar-Centering-Container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    height: 100%;
    max-width: 100%;
}

#Upload-Avatar{
    display: none;
    text-align-last: center;
    place-self: center;
}

#Base-Container-Email-Container{
    align-items: flex-end;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#Base-Container-Password-Container{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#Base-Container-Update-Container{
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

#FullName, #Email, #Password{
    font-size: 1.2rem;
}

#FullName:disabled, #Email:disabled, #Password:disabled{
    opacity: 50%;
}
#FullName:enabled, #Email:enabled, #Password:enabled{
    opacity: 100%;
}

#Pen-1, #Pen-2, #Pen-3, #Pen-4{
    user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;  
    -webkit-user-select: none;   
    background-color: #FFFFFF;  
    box-shadow: 1.5px 1.5px 2px rgb(202, 187, 144);
    border-radius: 25px;
    padding: 5px;
}

#Pen-1:hover, #Pen-2:hover, #Pen-3:hover, #Pen-4:hover{
    color: #c7c7c7;
}

#Pen-2, #Pen-3{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#Edit-ProfilePicture-Button{
    margin-top: -60px;
    margin-bottom: -70px;
    margin-right: -70px;
    padding: 8px;
    border-radius: 25px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.Form-Label{
    justify-self: start;
    align-self: end;
    margin-top: 0;
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
}

.Form-Input{
    border: 0px solid #000000;
    background: transparent;
    border-bottom-width: 1px;
}

.Container{
    display: grid;
    margin-left: 1em;
    grid-template-columns: 1fr;
}

.Container-Form{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    place-self: center;
    justify-self: start;
    font-size: 25px;
    font-family: 'Satoshi', sans-serif;
    align-items: end;
}

.Container-Form-FullName{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    place-self: center;
    justify-self: start;
    font-size: 25px;
    font-family: 'Satoshi', sans-serif;
    align-items: end;
}

.material-symbols-outlined {
    place-self: center;
    font-size: 25px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* #Update-Button{
    user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;  
    -webkit-user-select: none; 
    border: none;    
    border-radius: 25px;
    background-color: #FBB33B;
    max-width: 300px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 1.5px 1.5px 2px rgb(202, 187, 144);
    font-weight: 700;
} */

#Update-Button:hover{
    background-color: #ffbd4a;
}

#Update-Error{
    padding-bottom: 10px;
}

::-webkit-file-upload-button {
    display: none;
}

.welcome-message {
    font-size: 2.4rem;
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

.welcome-message span {
    font-family: 'Sharpie', serif;
    font-weight: 400;
    font-size: 2.8rem;
}

#user-kits {
    max-width: 90%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#user-kits-message {
    font-weight: 700;
    color: #4f4f4f;
}


#Expand-Profile-Form {
    margin-bottom: 3rem;
}

.toggle {
    display: none;
    transition: all 0.2s ease;
}


/** User kit items **/
#user-kit-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem 0;
    list-style: none;
    padding: 0;
}

#user-kit-list li {
    display: grid;
    grid-template-columns: 3rem minmax(0, 1fr) 3rem;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    border: 2px solid white;
    padding: 1rem;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-align: left;
}

#user-kit-list li:hover {
    border: 2px solid rgba(23, 165, 186, 1);
}
#user-kit-list li:active,
#user-kit-list li:focus {
    border: 2px solid rgba(23, 165, 186, 1);
    background-color: rgba(23, 165, 186, 1);
}

/* Kit icon */
#user-kit-list li > span {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-row: 1 / span 2;
    gap: 1rem;
    font-size: 2.9rem !important;
    text-align: center;
    align-content: center;
}

#user-kit-list li h3 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#user-kit-list li p {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#kit-options-form {
    color: black;
    background-color: white;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1));
    border-radius: 1.5rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    gap: 1rem;

    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;

    overflow-y: auto;
}

.kit-option {
    background-color: white;
    border: 2px solid white;
    border-radius: 1.5rem;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.1));
    padding: 1rem;
}

.kit-option:hover {
    border: 2px solid rgba(23, 165, 186, 1);
}

#kit-options-form .button-group {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}


/* @media only screen and (min-width: 768px) {
    #Base-Container{
        width: 90vw;
    }

    #Base-Container-FullName-Container{
        margin-left: 0;
    }
    .Container{
        margin-left: 0;
    }
} */