* {
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

body{
    display: grid;
    justify-content: center;
}

#Base-Container{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    background-color: #FDF1BD;
    place-items: center;
    place-self: center;
    justify-content: stretch;
    border-radius: 25px;
    margin: 25px;
    margin-top: 50px;
    width: 380px;
}

#Base-Container-ProfilePicture{
    width: 75px;
    height: 75px;
    border-radius: 55px;
    background-color: #FFFFFF;
    padding: 15px;
    margin-top: -45px;
}

#Base-Container-FullName-Container{
    display: grid;
    padding-top: 25px;
    padding-bottom: 25px;
}

#FullName, #Email, #Password{
    font-size: 23px;
}

#FullName:disabled, #Email:disabled, #Password:disabled{
    opacity: 50%;
}
#FullName:enabled, #Email:enabled, #Password:enabled{
    opacity: 100%;
}

::placeholder{
    color: #000000;
}

#Base-Container-Email-Container{
    align-items: flex-end;
}

#Pen-1, #Pen-2, #Pen-3, #Pen-4{
    user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;  
    -webkit-user-select: none;   
    background-color: #FFFFFF;  
    box-shadow: 1.5px 1.5px 2px rgb(202, 187, 144);
    border-radius: 25px;
    padding: 5px;
}

#Pen-1:hover, #Pen-2:hover, #Pen-3:hover, #Pen-4:hover{
    color: #c7c7c7;
}

#Pen-2, #Pen-3{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#Edit-ProfilePicture-Button{
    margin-top: -60px;
    margin-right: -80px;
    padding: 8px;
    border-radius: 25px;
}

.Form-Label{
    justify-self: start;
    align-self: center;
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
}

.Form-Input{
    border: 0px solid #000000;
    background: transparent;
    border-bottom-width: 1px;
}

.Container{
    display: grid;
    padding-top: 25px;
    padding-bottom: 25px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.Container-Form{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    place-self: center;
    justify-self: start;
    font-size: 25px;
    font-family: 'Satoshi', sans-serif;
    align-items: end;
}

.material-symbols-outlined {
    place-self: center;
    font-size: 25px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

#Update-Button{
    user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;  
    -webkit-user-select: none; 
    border: none;    
    border-radius: 25px;
    background-color: #FBB33B;
    max-width: 300px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin: 10px;
    text-align: center;
    box-shadow: 1.5px 1.5px 2px rgb(202, 187, 144);
}

#Update-Button:hover{
    background-color: #ffbd4a;
}

#Centering-Container-BackToKit{
    user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;  
    -webkit-user-select: none; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

#Base-Container-BackToKit{
    display: grid;
    padding-right: 50px;
    grid-template-columns: 1fr 1.40fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#Back-Button-Arrow{
    font-size: 45px !important;
    color: #17A5BA;
    justify-self: end;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#Back-Button{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    color: #17A5BA;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

#Base-Container-BackToKit:hover > span, #Base-Container-BackToKit:hover > p{
    color: #2dc7df;
}

#Upload-Avatar{
    display: none;
}

::-webkit-file-upload-button {
    display: none;
}

@media only screen and (max-width: 768px) {
    #Base-Container{
        width: 370px;
    }
}

@media only screen and (min-width: 768px) {
    #Base-Container{
        width: 768px;
    }
}