[Unit]
Description=ShakeGuard

[Service]
# Copy .secrets directory from the reference location.
ExecStartPre=cp -r /home/shakeguard/.secrets/ /var/www/shakeguard/.secrets/
ExecStart=/var/www/shakeguard/main.js -i localhost -p 27017 --db shakeguard --auth true --port 8082
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/shakeguard

[Install]
WantedBy=multi-user.target