<footer>
	<div id="easteregg_container">
		<svg viewBox="0 0 156 256" id="tai_postit">
			<image width="100%" height="100%" y="0px" href="/images/easteregg/tai-postit.svg" x="0px"></image>
		</svg>
		<svg viewBox="0 0 128 128" id="crack">
			<image width="100%" height="100%" y="0px" href="/images/easteregg/crack.svg" x="0px"></image>
		</svg>
	</div>
	<div class="footer-content">
		<p id="Footer-Copyright">&copy; ShakeGuard 2022</p>
		<div id="Footer-Links">
			<a href="/">
			<img id="Footer-Logo" src="/images/comp2800_logo.svg" alt="ShakeGuard Logo" />
			</a>
		</div>
	</div>
	<script src="/js/footer-easter-egg.js"></script>
</footer>