<!DOCTYPE html>
<head>
  <title>Header</title>
  <meta charset="utf-8"/>
</head>
<header>
    <nav>
        <a href="/"><img class="logo" src="/images/comp2800_logo.svg" alt="ShakeGuard" /></a>
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="label-toggle button button-nav">
            <img class="menu-icon" src="/images/menu-icon-black.svg" alt="menu-icon" />
        </label>
        <div class="collapsible-content">
            <div class="content-inner">
                <ul>
                    <li><a href="#" class="button button-nav">Your Kit</a></li>
                    <li><a href="#" class="button button-nav">Resources</a></li>
                    <li><a href="/login" class="button button-nav" id="Button-Login-Nav">Login</a></li>
                    <li><button type="submit" class="button button-nav" id="Button-Logout">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>
</header>