<!DOCTYPE html>
<head>
  <title>Header</title>
  <meta charset="utf-8"/>
  <link rel="manifest" href="/shakeguard.webmanifest">
  <link rel="apple-touch-icon" href="/images/pwa_icons/shakeguard_icon_x192.png">
  <meta name="theme-color" content="#17a5ba"/>
</head>
<header>
    <nav>
        <!-- Somewhat horrible hack, we put the Service Worker in the header template. -->
        <script>
            async function registerSW() {
                if ('serviceWorker' in navigator) {
                    try {
                        const registration = await navigator.serviceWorker.register('./sw.js', {scope: '/',});
                        if (registration.installing) {
                            console.log('Service worker installing');
                        } else if (registration.waiting) {
                            console.log('Service worker installed');
                        } else if (registration.active) {
                            console.log('Service worker active');
                        }
                    } catch (error) {
                        console.error(`Registration failed with ${error}`);
                    }
                }
            }
            registerSW();
        </script>
        <a href="/"><img class="logo" src="/images/comp2800_logo.svg" alt="ShakeGuard" /></a>
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="label-toggle button button-nav">
            <img class="menu-icon" src="/images/menu-icon-black.svg" alt="menu-icon" />
        </label>
        <div class="collapsible-content">
            <div class="content-inner">
                <ul>
                    <li><a href="/profile" class="button button-nav" id="Kit-Button">Your Kit</a></li>
                    <li><a href="/resource" class="button button-nav">Resources</a></li>
                    <li><a href="/login" class="button button-nav" id="Button-Login-Nav">Login</a></li>
                    <li><button type="submit" class="button button-nav" id="Button-Logout">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>
</header>