<!DOCTYPE html>

<head>
    <title>Kit-Components</title>
    <meta charset="utf-8">
</head>

<div>
    <template id="kit-options">
        <form id="kit-options-form" class="popup-form">
            <h2>Choose an option:</h2>
            <div class="kit-option" id="kit-1">
                <span class="material-symbols-outlined">cottage</span>
                <h3 class="kit-name">Home Kit</h3>
                <p class="kit-description">The Home Kit is for emergencies like earthquakes, storms, or accidents where
                    you
                    will stay at home for the duration of the situation.</p>
            </div>
            <div class="kit-option" id="kit-2">
                <span class="material-symbols-outlined">airport_shuttle</span>
                <h3 class="kit-name">Grab-and-Go Bag</h3>
                <p class="kit-description">The Grab-and-Go Bag is a smaller portable version of the Home kit, prepared
                    for
                    mobility. Applicable situations for the Grab-and-Go bag include floods, landslides, wildfires, and
                    tsunamis.</p>
            </div>
            <div class="button-group">
                <button type="submit" class="button button-primary">Submit</button>
                <button type="button" class="button button-secondary" id="create-kit-submit">Cancel</button>
            </div>
        </form>
    </template>


    <template id="user-kit-row">
        <li class="user-kit-list-item">
            <span class="material-symbols-outlined kit-icon">cottage</span>
            <h3 class="kit-name">Kit name</h3>
            <p class="kit-progress"><span>### %</span> complete</p>
            <span id="expand-kit" class="material-symbols-outlined expand-kit">expand_more</span>
            <span class="material-symbols-outlined teal delete-kit">delete</span>
            <ul class="all-kit-items-list"></ul>
            <button type="submit" class="button button-secondary-teal add-custom-item hidden">
                <span class="material-symbols-outlined">add</span> Add item
            </button>
        </li>
    </template>



    <template id="individual-kit-item-row">
        <li class="kit-item">
            <img src="/images/user-pic_Tracy.svg" alt="Kit Item" />
            <span class="material-symbols-outlined checkcircle">
                radio_button_unchecked</span>
            <label for="item-name">Item</label>
            <input type="text" name="Name" class="item-name" value="Name" id="item-name" disabled/>
            <label for="item-quantity">Quantity</label>
            <input type="text" name="Quantity" class="item-quantity" value="Quantity" id="item-quantity" disabled/>
            <textarea class="item-description" id="item-description" name="Description" disabled></textarea>
            <div class="edit-button-group">
                <span class="material-symbols-outlined edit">edit</span>
                <span class="material-symbols-outlined delete">delete</span>
            </div>
        </li>
    </template>


    <template id="add-item">
        <form id="add-item-form" class="popup-form">
            <h2>Custom Item</h2>
            <input type="file" name="image" id="add-item-image" accept=".jpg,.png,.jpeg" />
            <input type="text" name="name" placeholder="Name" id="add-item-name" />
            <input type="text" name="quantity" placeholder="Quantity" id="add-item-quantity" />
            <input type="text" name="description" placeholder="Description" id="add-item-description" />
            <div class="button-group">
                <button type="submit" class="button button-primary">Submit</button>
                <button type="button" class="button button-secondary" id="add-item-submit">Cancel</button>
            </div>
        </form>
    </template>


    <template id="delete-confirmation">
        <form id="delete-confirmation-form" class="popup-form">
            <h2>Are you sure?</h2>
            <div class="button-group">
                <button type="submit" class="button button-primary delete">Delete</button>
                <button type="button" class="button button-secondary cancel">Cancel</button>
            </div>
        </form>
    </template>
</div>