<!DOCTYPE html>
<head>
  <title>Profile-Component</title>
  <meta charset="utf-8">
</head>
<div>

	<!-- Profile Picture -->
	<div id="Base-Container-ProfilePicture-Container">
    <img src="images/Default-Profile-Picture.jpg" alt="" id="Base-Container-ProfilePicture"/>
  </div>

	<!-- Edit Profile Picture "Button" -->
	<label for="Upload-Avatar" id="Edit-ProfilePicture-Button" class="toggle-profile-form">
		<span id="Pen-4" class="material-symbols-outlined">edit</span>
	</label>

  <!-- Profile Picture User Feedback -->
  <div id="Base-Container-Upload-Avatar-Centering-Container" class="toggle-profile-form">
    <p id="Upload-Avatar-FileName" class="toggle-profile-form"></p>
    <input id="Upload-Avatar" type="file" name="Upload-Avatar" accept=".jpg,.png,.jpeg"/>
  </div>

  <!-- Full Name -->
  <div id="Base-Container-FullName-Container" class="Container toggle-profile-form">
    <form class="Container-Form toggle-profile-form">
      <input disabled="disabled" type="text" id="FullName" class="Form-Input" value="FirstName LastName"/>
      <span id="Pen-1" class="material-symbols-outlined">edit</span>
      <p class="error" id="FullName-Error"></p>
    </form>
  </div>

  <!-- Email -->
  <div id="Base-Container-Email-Container" class="Container toggle-profile-form">
    <!-- Label -->
    <p class="Form-Label">Email</p>
    <!-- Container -->
    <form class="Container-Form">
      <input disabled="disabled" type="email" class="Form-Input" id="Email" value="Email Address"/>
      <span id="Pen-2" class="material-symbols-outlined">edit</span>
      <p class="error" id="Email-Error"></p>
    </form>
  </div>

  <!-- Password -->
  <div id="Base-Container-Password-Container" class="Container toggle-profile-form">
    <!-- Label -->
    <p class="Form-Label">Password</p>
    <!-- Container -->
    <form class="Container-Form">
      <input disabled="disabled" type="password" class="Form-Input" id="Password" value="Password"/>
      <span id="Pen-3" class="material-symbols-outlined">edit</span>
      <p class="error" id="Password-Error"></p>
    </form>
  </div>

  <!-- Update Profile Button -->
  <div id="Base-Container-Update-Container" class="toggle-profile-form">
    <p id="Update-Button" class="button button-primary">Update</p>
  </div>
  <!-- Edit Profile Button that should unhide the other fields -->
  <button type="button" class="button button-primary" id="Expand-Profile-Form">Edit profile</button>
  <button type="button" class="button button-secondary toggle-profile-form" id="Cancel-Profile-Form">Cancel</button>

  <!-- Error messages -->
  <p id="Avatar-Error" class="error toggle-profile-form"></p>
  <p id="Update-Error" class="toggle-profile-form"></p>

</div>